/*
Copyright  © 2020  Matt Roberts
*/
.main-h-1{
  margin-left: 10%;
}
.text-align-center{
  text-align: center;
}
video {
  display: block;
  margin: auto;
  width: 640px;
  height: 480px;
}
.main-margin{
  margin-left: 5%;
  margin-right: 5%;
}
.main-text{
  font-weight: 600;
  font-size: x-large;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}
.ten-percent-margin{
  margin-left: 10%;
}
.menu-bar-container {
  display: block;
}
.main-text{
  font-size: large;
}
img {
  display: block;
  margin: auto;
  width: 640px;
  height: auto;
}

.title {
  font-size: 50px;
  font-weight: 600;
}
.copyright{
  font-weight: 600;
}

.carousel-style{
  display: block;
  margin: auto;
  width: 640px;
  height: auto;
}

@media screen and (max-width: 600px) {
  .hide-for-small{
    display: none;
  }
  .menu-bar-container {
    display: block;
  }
  .main-text{
    font-size: large;
  }
}
@media screen and (max-width: 640px) {
  img{
    width: 100%;
    height: auto;
  }
  video{
    width: 100%;
    height: auto;
  }
  .carousel-style{
    width: 100%;
    height: auto;
  }
}
/*
@media screen and (min-width: 600px) {
  .hide-for-not-small{
    display: none;
  }
}
*/


@media screen and (max-width: 600px) {
  .side-navigation-item:not(:first-child) {display: none;}
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.display-none{
  display: none;
}
.overflow-visible{
  overflow: visible;
}
