/*
Copyright  © 2020  Matt Roberts
*/
.main-h-1 {
  margin-left: 10%;
}
.flex-center {
  display: flex;
  align-items: center;
}
hr{
  border-color: black;
}
.text-align-center{
  text-align: center;
}
video {
  display: block;
  margin: auto;
  width: 640px;
  height: 480px;
}
.main-margin{
  margin-left: 5%;
  margin-right: 5%;
}
.main-text{
  font-weight: 600;
  font-size: x-large;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}
.ten-percent-margin{
  margin-left: 10%;
  margin-right: 10%;
}
.menu-bar-container {
  display: block;
}
.tab-container {
  margin-top: -20px;
  margin-bottom: -10px;
}
.tab {
  display: inline-block;
}
.main-text{
  font-size: large;
}
.text{
  font-size: large;
  color: black;
}
.icon-container {
  text-align: center;
  display: flex;
  justify-content: center;
}
.centered-image {
  display: block;
  margin: auto;
  width: 640px;
  height: auto;
}

.icon-with-text {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.large-icon {
  width: 200px;
  height: 200px;
}

.small-icon {
  width: 100px;
  height: 100px;
  float: left;
}

.inline-centered {
  margin: auto;
  display: inline-block;
}

.small-margin {
  margin: 10px;
}

.title {
  font-size: 50px;
  font-weight: 600;
}
.heading {
  font-size: 45px;
  font-weight: 600;
}
.copyright{
  font-weight: 600;
}

.carousel-style{
  display: block;
  margin: auto;
  width: 640px;
  height: auto;
}

.iPhone-carousel {
  display: block;
  margin: auto;
}

.iPhone-carousel-media {
  width: 40%;
  max-width: 300px;
}

.iPad-carousel-media {
  width: 80%;
  max-width: 800px;
}

.iPhone-media {
  width: 40%;
  max-width: 300px;
  margin: 20px;
}

.iPad-media {
  width: 80%;
  max-width: 800px;
  margin: 20px;
}

.watch-media {
  width: 130px;
  max-width: 130;
  margin: 5px;
}

.tab {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.selected-tab {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  border-bottom: 3.5px solid black;
}

.app-store-badge {
  height: 60px;
  width: 236px;
}

@media (prefers-color-scheme: dark){
  .selected-tab {
    font-size: 20px;
    cursor: pointer;
    border-bottom: 3.5px solid white;
  }
}

@media screen and (max-width: 600px) {
  .hide-for-small{
    display: none;
  }
  .menu-bar-container {
    display: block;
  }
  .main-text{
    font-size: large;
  }
  .large-icon {
    width: 100px;
    height: 100px;
  }
  .title {
    font-size: 40px;
    font-weight: 600;
  }
  .heading {
    font-size: 30px;
    font-weight: 600;
  }
}
@media screen and (max-width: 640px) {
  .centered-image{
    width: 100%;
    height: auto;
  }
  video{
    width: 100%;
    height: auto;
  }
  .carousel-style{
    width: 100%;
    height: auto;
  }
  .iPhone-media {
    width: 90%;
    height: auto;
  }
  .iPhone-media {
    width: 90%;
    height: auto;
  }
  .iPhone-carousel-media {
    width: 90%;
    height: auto;
  }
  .iPad-media {
    width: 90%;
    height: auto;
  }
  .iPad-carousel-media {
    width: 90%;
    height: auto;
  }
  .large-icon {
    width: 100px;
    height: 100px;
  }
  .title {
    font-size: 40px;
    font-weight: 600;
  }
  .heading {
    font-size: 30px;
    font-weight: 600;
  }
}
/*
@media screen and (min-width: 600px) {
  .hide-for-not-small{
    display: none;
  }
}
*/


@media screen and (max-width: 600px) {
  .side-navigation-item:not(:first-child) {display: none;}
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.display-none{
  display: none;
}
.overflow-visible{
  overflow: visible;
}
