/*
Copyright  © 2020  Matt Roberts
*/
.main-background {
    background-color: white;
}
.red{
background-color: rgb(230, 56, 56);
    }
.orange{
    background-color: rgb(255, 144, 47);
}
.yellow{
    background-color: rgb(255, 204, 2);
}
.green{
    background-color: rgb(0, 198, 0);
}
.blue{
    background-color: rgb(3, 122, 255);
}
.purple{
    background-color: rgb(175, 82, 222);
}
.main-red{
    background-color: rgb(226, 116, 116);
}
.main-orange{
    background-color: rgb(242, 188, 140);
}
.main-yellow{
    background-color: rgb(255, 230, 132);
}
.main-green{
    background-color: rgb(114, 211, 114);
}
.main-blue{
    background-color: rgb(117, 181, 255);
}
.main-purple{
    background-color: rgb(196, 143, 223);
}
@media (prefers-color-scheme: dark){

    body, .main-background, .navigation-bar, .top-navigation-link, .main-text {
        color: white;
      }
      .bar-1, .bar-2, .change-bar-1, .change-bar-2{
        background-color: white;
    }
    .red{
        background-color: rgb(179, 0, 0);
    }
    .orange{
        background-color: rgb(179, 63, 0);
    }
    .yellow{
        background-color: rgb(179, 63, 0);
    }
    .green{
        background-color: rgb(0, 96, 0);
    }
    .blue{
        background-color: rgb(0, 24, 210);
    }
    .purple{
        background-color: rgb(69, 0, 105);
    }
    .main-red{
        background-color: rgb(109, 0, 0);
    }
    .main-orange{
        background-color: rgb(121, 42, 0);
    }
    .main-yellow{
        background-color: rgb(121, 42, 0);
    }
    .main-green{
        background-color: rgb(0, 60, 0);
    }
    .main-blue{
        background-color: rgb(0, 12, 104);
    }
    .main-purple{
        background-color: rgb(47, 0, 72);
    }
  }