/*
Copyright  © 2020  Matt Roberts
*/
.navigation-bar {
  overflow: hidden;
}
.top-navigation-item {
  float: left;
  display: block;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}

.selected-navigation-item{
  border-bottom: 3.5px solid black;
  padding: 14px 16px 10.5px 16px;
}

@media screen and (max-width: 500px) {
  .top-navigation-item {
    float: left;
    display: block;
    font-weight: 600;
    text-align: center;
    padding: 14px 8px 14px 8px;
    text-decoration: none;
  }
  .selected-navigation-item{
    border-bottom: 3.5px solid black;
    padding: 14px 8px 10.5px 8px;
  }
}
.navigation-menu {
  overflow: hidden;
  display: flex;
}

@media screen and (max-width: 440px) {
  .top-navigation-item {
    font-weight: 600;
    text-align: center;
    padding: 14px 8px 14px 8px;
    text-decoration: none;
  }
  .selected-navigation-item{
    border-bottom: 3.5px solid black;
    padding: 14px 8px 10.5px 8px;
  }

  .menu-item {
    display: block;
    font-weight: 600;
    text-align: center;
    padding: 14px 8px 14px 8px;
    text-decoration: none;
  }
  .selected-menu-item{
    border-bottom: 3.5px solid black;
    padding: 14px 8px 10.5px 8px;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.spacer {
  height: 40px;
}

.centered {
  text-align: center;
  margin: auto;
}
  
.top-navigation-link {
  position: relative;
  z-index: 2;
  margin: auto;
  text-decoration: none;
  color: black;
}
.show-or-hide-menu {
  width: 25px;
  height: 25px;
  padding: 10px 16px 8px 16px;
}
.float-right {
  float: right;
}

@media (prefers-color-scheme: dark){
  .selected-navigation-item{
    border-bottom: 3.5px solid white;
  }
  .selected-menu-item{
    border-bottom: 3.5px solid white;
  }
}
/*
  .show-or-hide-menu {
    width: 25px;
    height: 25px;
    padding: 10px 16px 8px 16px;
  }
  .bar-1, .bar-2 {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change-bar-1 {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transform: rotate(-45deg) translate(1px, 6px);
    transform: rotate(-45deg) translate(1px, 6px);
  }
  .change-bar-2 {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transform: rotate(45deg) translate(0px, -8px);
    transform: rotate(45deg) translate(0px, -8px);
  }
  */